# Ignore everything in the root
/*
# Whitelist
!README.md
!/nvim/
!/helix/
!/kitty/
!/wezterm/
!/karabiner/
!/git/
!.gitignore

# LazyVim ignores
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
lazy-lock.json

# Ignore backup files
/karabiner/automatic_backups/
