# Ignore everything in the root
/*

# Whitelist
!README.md
!/nvim/
!/helix/
!/kitty/
!/wezterm/
!/karabiner/
!/git/
!/private-configs/
!/styleguide/
!.gitignore
!/zed/

# Zed - Only allow certain files
/zed/*
!/zed/settings.json
!/zed/keymap.json

# LazyVim ignores
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
lazy-lock.json

# Karabiner - Ignore backup files
/karabiner/automatic_backups/
